h1 {
    font-size: 100px;
    line-height: 98px;
    margin: 0;
    width: fit-content;
    font-family: $aldrich-font;
    font-weight: normal;
    letter-spacing: -0.05em;
}

h2 {
    font-size: 60px;
    line-height: 65px;
    margin: 0;
    font-family: $aldrich-font;
    font-weight: normal;
    width: fit-content;
    letter-spacing: -0.05em;
    color: #151515;
}

h5 {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    color: #151515;
    margin: 0;
    font-family: $aldrich-font;
    font-weight: normal;
    letter-spacing: -0.05em;
}
