//color
$lightBlue: #a5f7fc;
$purple: #510eac;

//fonts
$default-font: "Work Sans", sans-serif;
$aldrich-font: "Aldrich", sans-serif;
$playfair-font: "Playfair Display", serif;
$indieFlower-font: "Indie Flower";
$italiana-font: "Italiana", serif;

//font size
$font-35: 35px;
$font-30: 30px;
$font-20: 20px;
$font-18: 18px;
$font-15: 15px;

//Breakpoints
$modile-breakpoint: 0px;
// $AdditionalComponent-breakpoint: 36.875em;
$sm-breakpoint: 1124px;
$md-breakpoint: 1440px;
$lg-breakpoint: 1754px;
$xl-breakpoint: 2070px;

//transitions
$transition-fast: 0.25s;
$transition: 0.5s;
$transition-slow: 1s;
