//color
$lightBlue: #a5f7fc;
$purple: #510eac;
$dark_gray: #181818;
$eth: linear-gradient(90.19deg, #82a7f8 14%, #a6fbf6 50.04%, #cdb0ff 86.07%);

//fonts
$default-font: "Work Sans", sans-serif;
$aldrich-font: "Aldrich", sans-serif;
$playfair-font: "Playfair Display", serif;
$indieFlower-font: "Indie Flower";
$italiana-font: "Italiana", serif;

//font size
$font-35: 35px;
$font-30: 30px;
$font-20: 20px;
$font-18: 18px;
$font-15: 15px;

//Breakpoints
$modile-breakpoint: 0px;
// $AdditionalComponent-breakpoint: 36.875em;
$sm-breakpoint: 1124px;
$md-breakpoint: 1340px;
$lg-breakpoint: 1754px;
$xl-breakpoint: 2070px;

//transitions
$transition-fast: 0.25s;
$transition: 0.5s;
$transition-slow: 1s;

.ethBackground {
    background: $eth;
}
