.cards {
    // padding-top: 100px;
    width: fit-content;
    padding: 100px 55px 0 55px;
    width: 915px;

    &-header {
        h2 {
            margin-bottom: 10px;
        }
        .description-container {
            padding-bottom: 20px;
            margin-bottom: 60px;
            border-bottom: 2px solid rgba(0, 0, 0, 0.07);
            .description {
                font-size: 22px;
                line-height: 150%;
                margin-right: 26px;
                max-width: 705px;
            }
            .metamask {
                background-color: white;
                color: $purple;
                padding-right: 25.79px;
                padding-left: 15px;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                text-transform: uppercase;
                border-radius: 100px;
                padding-top: 9px;
                padding-bottom: 9px;
                height: fit-content;
                width: fit-content;
                svg {
                    margin-right: 10px;
                }
            }
        }
    }
    &-deck {
        margin-top: -25px;
        margin-bottom: -25px;
        position: relative;
        @keyframes skeleton-animation {
            0% {
                background: rgba($color: #151515, $alpha: 0.3);
            }
            100% {
                background: rgba($color: #151515, $alpha: 0.1);
            }
        }
        .quoteCover {
            width: 100%;
            transition: 0.25s;
        }
        .quote {
            height: fit-content;
            width: 100%;
            padding-top: 11px;
            padding-bottom: 42px;
            .quote-line {
                position: absolute;
                left: 0;
                width: 100%;
                border-bottom: 2px solid rgba(0, 0, 0, 0.07);
            }
            .quote-arrow {
                width: 14px;
                height: 14px;
                border-top: 2px solid rgba(0, 0, 0, 0.07);
                border-left: 2px solid rgba(0, 0, 0, 0.07);
                position: relative;
                background: #f2f2f2;
                transform: rotate(45deg);
                top: -0.5px;
                margin-right: 135.5px;
                margin-left: 135.5px;
            }
            .quote-content {
                padding-top: 62px;
                // height: 0;
                overflow: hidden;
                // position: absolute;
                // width: calc(100% * 3 + 2 * 30px);
                left: 0;

                &-cover {
                    transition: 0.25s;
                    width: 100%;
                    left: 0;
                }
                .fadeOut {
                    opacity: 0;
                }
                .fadeIn {
                    opacity: 1;
                }
                &-quote {
                    transition: 0.25s;
                    width: 600px;
                    .skeleton-text-container {
                        z-index: -1;
                        top: 0;
                        transition: 0.25s;
                        width: 100%;
                    }
                    div {
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 21px;
                        text-transform: capitalize;
                        color: rgba(10, 10, 10, 0.5);
                        svg {
                            margin-left: 5px;
                        }
                    }
                    .arrow {
                        opacity: 0;
                    }

                    .skeleton-text {
                        width: 100%;
                        height: 30px;
                        animation: skeleton-animation 1s linear infinite alternate;
                        margin-bottom: 5px;
                        border-radius: 10px;
                    }
                    .skeleton-text:last-child {
                        width: 70%;
                    }
                    span {
                        transition: 0.25s;
                        width: 100%;
                        display: inline-block;
                        margin-bottom: 20px;
                        font-size: 30px;
                        line-height: 150%;
                    }
                }
                &-author {
                    padding-left: 30px;
                    h5 {
                        margin-top: 20px;
                        padding-bottom: 20px;
                    }
                }
            }
        }
        // .item + .item{
        //     margin-left: 25px;
        // }
        .item {
            transition: 0.5s;
            margin-bottom: 25px;
            margin-top: 25px;
            height: fit-content;
            width: 285px;

            .artwork-cover {
                &:hover {
                    .artwork {
                        margin-top: -20px;
                        margin-bottom: 39px;
                        box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.25);
                    }
                }
                .artwork {
                    transition: 0.25s;
                    // width: 285px;
                    height: 400px;
                    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
                    border-radius: 15px;
                    // background: #151515, 0.1;
                    // background: #f2f2f2;
                    // animation: skeleton-animation 1s linear infinite alternate;
                    overflow: hidden;
                    margin-bottom: 19px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .author,
            .name {
                transition: 0.25s;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                text-align: center;
                color: rgba(10, 10, 10, 0.5);
            }
            .name {
                padding-top: 10px;
                color: rgba(10, 10, 10, 0.7);
            }

            &:hover {
                // padding-bottom: 300px;
                // .quote {
                //     left: 0;
                //     // height: 100px;
                // }
                .author {
                    color: rgba(10, 10, 10, 0.7);
                    // padding-bottom: 200px;
                    // margin-bottom: 450px;
                }
            }
        }
    }
}

@media only screen and (min-width: $md-breakpoint) {
    .cards {
        width: 1230px;
        &-header {
            @include marginGutter(1);
            width: 1020px;
        }
        &-deck {
            .quote {
                .quote-content {
                    &-quote {
                        width: 705px;
                    }
                    @include marginGutter(1);
                }
            }
        }
    }
}

@media only screen and (min-width: $lg-breakpoint) {
    .cards {
        width: 1545px;
        &-header {
            @include marginGutter(2);
            width: 1125px;
        }
        &-deck {
            .quote {
                .quote-content {
                    &-author {
                        padding-left: 135px;
                    }
                    @include marginGutter(2);
                }
            }
        }
    }
}

@media only screen and (min-width: $xl-breakpoint) {
    .cards {
        width: 1860px;
        &-header {
            @include marginGutter(3);
            width: 1230px;
        }
        &-deck {
            .quote {
                .quote-content {
                    &-quote {
                        width: 810px;
                    }
                    @include marginGutter(3);
                }
            }
        }
    }
}
