.header {
    margin-right: 0.625rem;
    margin-left: 0.625rem;
    margin-top: 0.625rem;
    top: 0;
    right: 0;
    left: 0;
    color: white;
    font-family: $aldrich-font;
    z-index: 1;
    .main-menu {
        background-color: $purple;
        padding: 0.625rem 1.25rem;
        border-radius: 0.625rem;
        z-index: 2;
        position: relative;
        .menu {
            .menuSvg {
                margin-top: -0.625rem;
                margin-bottom: -0.625rem;
                margin-left: -1.3rem;
                margin-right: 1.5rem;
                width: 4.375rem;
                height: 4.375rem;
                border-radius: 0.625rem 0 0 0.625rem;
            }
        }
        .shop {
            border-radius: 6.25rem;
            background-color: white;
        }
    }
    .sub-menu {
        background: #181818;
        border-radius: 0.625rem;
        padding-top: 1.25rem;
        margin-top: -1.25rem;
        transition: 0.25s;
        .activated {
            color: rgba(255, 255, 255, 0.3);
        }
        .items {
            width: 44.375rem;
            justify-content: space-between;
            color: rgba(255, 255, 255, 0.7);
            font-weight: 600;
            font-size: 1.125rem;
            .item {
                line-height: 3.75rem;
                text-align: center;
            }
        }
    }
}
