.header {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    top: 0;
    right: 0;
    left: 0;
    color: white;
    font-family: $aldrich-font;
    z-index: 1;
    .main-menu {
        background-color: $purple;
        padding: 10px 20px;
        border-radius: 10px;
        z-index: 2;
        position: relative;
        max-height: 50px;
        a {
            z-index: 1;
        }
        .logoContainer {
            margin: -10px -20px;
            height: 200%;
            transition: 0.25s;
            .logo {
                fill: white;
                // position: absolute;
                margin: 0 auto;
                &:hover {
                    fill-opacity: 0.8;
                }
            }
        }
        .menu {
            .menuSvg {
                margin-top: -10px;
                margin-bottom: -10px;
                margin-left: -20.8px;
                margin-right: 24px;
                width: 70px;
                height: 70px;
                border-radius: 10px 0 0 10px;
            }
            .currentDeck {
                font-size: 20px;
                line-height: 20px;
                height: 200%;
                transition: 0.25s;
                div {
                    text-transform: uppercase;
                    height: 50%;
                    margin-bottom: 20px;
                    margin-top: 3px;
                }
            }
        }
        .deckMenu {
            height: 100%;
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            font-family: $default-font;
            text-transform: uppercase;

            color: rgba(255, 255, 255, 0.7);
            .active {
                color: rgba(255, 255, 255, 0.3);
            }
            &-item {
                transition: 0.25s;
                margin: 0 20px;
                &:hover {
                    color: white;
                }
            }
        }
        .shop {
            border-radius: 100px;
            background-color: white;
            z-index: 1;
        }
    }
    .sub-menu-container {
        margin-top: -20px;
        border-radius: 10px;
    }
    .sub-menu {
        padding-top: 20px;
        transition: 0.25s;
        background: #181818;
        .activate {
            color: rgba(255, 255, 255, 0.3);
        }
        .items {
            width: 710px;
            justify-content: space-between;
            color: rgba(255, 255, 255, 0.7);
            font-weight: 600;
            font-size: 18px;
            .item {
                line-height: 60px;
                text-align: center;
                font-family: $default-font;
                &:hover {
                    color: white;
                }
            }
        }
    }
}
