h1 {
    font-size: 6.25rem;
    line-height: 6.125rem;
    letter-spacing: -0.05rem;
    margin: 0;
    width: fit-content;
    font-family: $aldrich-font;
    font-weight: normal;
}

h2 {
    font-size: 3.75rem;
    line-height: 4.0625rem;
    letter-spacing: -0.05rem;
    margin: 0;
    font-family: $aldrich-font;
    font-weight: normal;
    width: fit-content;
}
